VALIDSOFT_API_URL=https://pilot.api.prod.validsoft.cloud/deepfake/pilot/v1/deepfake/<your-tenant-id>
VALIDSOFT_AUTH_URL=https://pvb-api-pilot.auth.us-east-2.amazoncognito.com/oauth2/token
VALIDSOFT_CLIENT_ID=your-cognito-client-id
VALIDSOFT_CLIENT_SECRET=your-cognito-client-secret
